#wrap nav .Home {
  background-color: #CFDB00;
}
#wrap #content .place {
  height: 71px;
}
#wrap #content .content-box {
  max-width: 1025px;
  margin: 0 auto;
}
#wrap #content .content-box .service {
  margin-top: 14.24390%;
  margin-bottom: 7.41463%;
}
#wrap #content .content-box .service p {
  font-size: 2.6rem;
  color: #616161;
  text-align: center;
}
#wrap #content .content-box .service p span {
  display: inline-block;
  vertical-align: middle;
  max-width: 122px;
  width: 11.90243%;
  border-bottom: 2px solid #cfdb00;
}
#wrap #content .content-box .detailed {
  margin-bottom: 14.63414%;
}
#wrap #content .content-box .detailed a {
  display: inline-block;
  width: 100%;
  position: relative;
  border-top: 1px solid #bfbfbf;
}
#wrap #content .content-box .detailed a:nth-child(3) {
  border-bottom: 1px solid #bfbfbf;
}
#wrap #content .content-box .detailed a img {
  width: 65.07317%;
  float: left;
  transition: width 1s;
}
#wrap #content .content-box .detailed a .bar {
  position: absolute;
  width: 1.95121%;
  height: 100%;
  background: #e1e1e1;
  top: 0;
  left: 65.07317%;
  transition: width 1s;
}
#wrap #content .content-box .detailed a .description {
  width: 34.92682%;
  float: left;
  box-sizing: border-box;
  padding-left: 3.60975%;
  color: #b4b4b4;
  transition: width 1s;
}
#wrap #content .content-box .detailed a .description h2 {
  padding-top: 11.17318%;
  font-size: 30px;
}
#wrap #content .content-box .detailed a .description p {
  padding-top: 6.42458%;
  font-size: 15px;
}
#wrap #content .content-box .detailed a:nth-child(2) img {
  width: 65.07317%;
  float: right;
  transition: width 1s;
}
#wrap #content .content-box .detailed a:nth-child(2) .bar {
  position: absolute;
  width: 1.95121%;
  height: 100%;
  background: #e1e1e1;
  top: 0;
  right: 65.07317%;
  left: auto;
  transition: width 1s;
}
#wrap #content .content-box .detailed a:nth-child(2) .description {
  width: 34.92682%;
  float: right;
  box-sizing: border-box;
  padding-right: 3.60975%;
  text-align: right;
  transition: width 1s;
}
#wrap #content .content-box .detailed a:nth-child(2) .description h2 {
  padding-top: 6.98324%;
}
#wrap #content .content-box .detailed a:nth-child(3) .description h2 {
  padding-top: 18.15642%;
}
@media screen and (max-width: 768px) {
  #wrap #content .content-box .service p {
    font-size: 1.4rem;
  }
  #wrap #content .content-box .detailed a .description h2 {
    font-size: 1.6rem;
    padding-top: 6.98324%;
  }
  #wrap #content .content-box .detailed a:nth-child(3) .description h2 {
    padding-top: 6.98324%;
  }
  #wrap #content .content-box .detailed a .description p {
    font-size: 0.8rem;
    padding-bottom: 3%;
  }
  #wrap #content .content-box .detailed a img {
    width: 100%;
  }
  #wrap #content .content-box .detailed a .bar {
    width: 0;
  }
  #wrap #content .content-box .detailed a .description {
    width: 100%;
  }
  #wrap #content .content-box .detailed a:nth-child(2) img {
    width: 100%;
  }
  #wrap #content .content-box .detailed a:nth-child(2) .bar {
    width: 0;
  }
  #wrap #content .content-box .detailed a:nth-child(2) .description {
    width: 100%;
    text-align: left;
  }
}
/*# sourceMappingURL=home.css.map */
